<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDAO">
  <select id="findAll" resultType="User">
     SELECT * FROM USER;
   </select>
   
   
   <update id="updateUser" parameterType="User">
   UPDATE `user` SET username=#{username} WHERE id=#{id};
   </update>
   
   
   <insert id="insertuser" parameterType="User">
   INSERT INTO `user`(`username`,`mobile`) VALUE (#{username},#{mobile});
   </insert>
   
   <delete id="deleteUser" parameterType="User">
   DELETE FROM USER WHERE id=#{id};
   </delete>
   
   <select id="getUser" parameterType="int" resultType="User">
   SELECT username,mobile FROM USER WHERE id=#{id};
   </select>
   
   <select id="loginUser" parameterType="String" resultType="User">
   SELECT id,username,mobile FROM USER WHERE username=#{username};
   </select>
</mapper>